.App {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

// .onex-btn--filled.btn-primary, .onex-btn--filled.btn-primary:not(:disabled):hover, .onex-btn--filled.btn-primary:not(:disabled):focus-visible{
//   background-color: #4e8385;
// }

// .onex-btn--filled.btn-primary:disabled{
//   background-color: #94c3c5;
// }